node_modules
dist/myngapp/favicon.ico
dist/myngapp/index.html
dist/myngapp/main-es5.js
dist/myngapp/main-es5.js.map
dist/myngapp/main-es2015.js
dist/myngapp/main-es2015.js.map
dist/myngapp/polyfills-es5.js
dist/myngapp/polyfills-es5.js.map
dist/myngapp/polyfills-es2015.js
dist/myngapp/polyfills-es2015.js.map
dist/myngapp/runtime-es5.js
dist/myngapp/runtime-es5.js.map
dist/myngapp/runtime-es2015.js
dist/myngapp/runtime-es2015.js.map
dist/myngapp/styles-es5.js
dist/myngapp/styles-es5.js.map
dist/myngapp/styles-es2015.js
dist/myngapp/styles-es2015.js.map
dist/myngapp/vendor-es5.js
dist/myngapp/vendor-es5.js.map
dist/myngapp/vendor-es2015.js
dist/myngapp/vendor-es2015.js.map
