.course {
    text-align: center;
    max-width: auto;
    margin: 0 auto;
}

.course-thumbnail {
    width: 150px;
    margin: 20px auto 0 auto;
    display: block;
}

.description-cell {
    text-align: left;
    margin: 10px auto;
}

.duration-cell {
    text-align: center;
}

.duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}

.lessons-table {
    min-height: 360px;
    margin-top: 10px;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}
.mat-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    background-color: honeydew;
}
.mat-header-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    background-color: orange;
}

.example-list {
    width: 1000px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }